{% assign layout = 'system' %}
<div class="content">
  <h3 class="page_header_system">Domain Registration</h3>

  <div class="register_steps">
    <img src="/assets/system/images/step1.png" usemap="#progress" border="0" /></div>
  <div class="content_indent">

  <div class="search_box">
    <span class="search_title">Enter a domain name to search and register.</span>

    <form action="/system/domain/domain_register" method="GET" id="domain" style="margin:0">
      <table border="0" cellspacing="0" align="center">
        <tr>
          <td><strong class="www_bigger">www.</strong></td>
          <td><input name="domain" type="text" value="" size="40"/></td>
          <td class="select_td"><select name="tld" id="tld" class="textstyle1">
            {% for tld in all_tlds %}
            <option value="{{ tld }}">{{ tld }}</option>
            {% endfor %}
            <option value="all">All</option>
          </select></td>
          <td><a href="javascript:void(0)" onclick="document.getElementById('domain').submit()" class="button_search"><span class="inv">Search</span></a></td>
        </tr>
      </table>
    </form>
  </div>
  <p>&nbsp;</p>

  <form action="/system/domain/domain_register_process" method="POST" onsubmit="return form_check()" style="margin: 0">
  <input type="hidden" name="submitted" value="TRUE"/>
  <input type="hidden" name="back_order_price" id="back_order_price" value="$ 9.60"/>
  <table width="100%" border="0" cellspacing="0" class="table_style2">
  <tr>
    <td colspan="3" class="td_style1">Domain Search Results</td>
  </tr>
  <tr>
    <th class="first">Domain</th>
    <th width="110">Status</th>
    <th width="100">Register</th>
  </tr>
  {% for domain in domains %}
  <tr class="tr_highlight highlighted">
    <td class="first">{{ domain.domain }}</td>
    <td>
      {% if domain.available == 'true' %}
      <span id="{{ domain.domain }}_image" class="status">Available</span>
      {% elsif domain.available == 'error' %}
      <span id="{{ domain.domain }}_error"><a href="javascript:void(0)" class="error" title="{{ domain.description }}">Error</a></span>
      {% else %}
      <span id="{{ domain.domain }}_back_order"><a href="javascript:void(0)" class="linkTip">Unavailable</a></span>
      {% endif %}
    </td>
    <td style="height:20px">
      <span id="{{ domain.domain }}_span">
        <input type="checkbox" name="domains" id="{{ domain.domain }}_checkbox" class="domain_checkbox" value="{{ domain.domain }}" {% if domain.available == 'true' %}checked{% endif %} />
        <label for="{{ domain.domain }}_checkbox" id="{{ domain.domain }}_price">$ 9.99</label>
      </span>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td class="first">&nbsp;</td>
    <td class="first"><strong>Select All</strong></td>
    <td><input type="checkbox" onclick="select_all(this, 31)"></td>
  </tr>
  </table>
  <table width="100%" style="margin:25px 0">
    <tr>
      <td align="right"><input name="Submit" type="submit" value="Add To Cart" class="button_form_small"></td>
    </tr>
  </table>
  </form>
  <h4>Registering your domain name</h4>
  <p>Enter a domain name to search availablity, then select the available domain by clicking the Register tickbox, to
    continue the registration process click "Add to Cart" button.</p>
  <h4>Protect your online identity and brand</h4>
  <p>You can register as many domain names as you like there are no limits, we do strongly suggest you register important
    variations of your domain name to avoid other parties from registering them.</p>
  </div>
  <script type="text/javascript">
    //var search_tlds = [1, 4, 27, 2, 10, 7, 26, 15, 12, 8, 9, 17, 20, 25, 18, 19, 21, 14, 13, 16, 22, 23, 24, 3];
    //var js_domains = 'xappr';
    //var registry_tlds = Array();
    //registry_tlds[1] = 'com.au,net.au';
    //registry_tlds[4] = 'com,net,tv,cc';
    //registry_tlds[27] = 'co';
    //registry_tlds[2] = 'co.nz,net.nz';
    //registry_tlds[10] = 'asia';
    //registry_tlds[7] = 'info';
    //registry_tlds[26] = 'xxx';
    //registry_tlds[15] = 'mobi';
    //registry_tlds[12] = 'tel';
    //registry_tlds[8] = 'org';
    //registry_tlds[9] = 'biz';
    //registry_tlds[17] = 'in';
    //registry_tlds[20] = 'me';
    //registry_tlds[25] = 'mx';
    //registry_tlds[18] = 'im';
    //registry_tlds[19] = 'ws';
    //registry_tlds[21] = 'so';
    //registry_tlds[14] = 'eu';
    //registry_tlds[13] = 'be';
    //registry_tlds[16] = 'it';
    //registry_tlds[22] = 'at';
    //registry_tlds[23] = 'fr';
    //registry_tlds[24] = 'no';
    //registry_tlds[3] = 'co.uk,me.uk,org.uk';
  </script>
  <!-- <script type="text/javascript" src="/assets/scripts/domain_register.js"></script> -->
</div>